body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 65%;
}

/* ParkCard parent `div` styling */
.park_card {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
 }
 
 /* ParkCard child `div` styling */
 .park_card div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.75s linear; 
  transition: visibility 0s, opacity 0.75s linear;
 }
 
 /* ParkCard parent hover */
 .park_card:hover {
  cursor: pointer;
 }
 
 .park_card:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.85; 
 }

/* Pagination buttons */
 .pagination-list {
  margin: 15px auto;
  display: flex;
}
 
.pagination-list .active a {
  background-color:hsl(217, 71%, 53%);
  border-color: hsl(217, 71%, 53%);
  color: #fff;
} 

.pagination-list li a {
  border: 1px solid hsl(217, 71%, 53%);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

/* Background images */
.has-bg-img-home { 
  background: url('./images/bg-home.jpg') center center; 
  background-size: cover; 
}

.has-bg-img-about {
  background: url('./images/bg-about.jpg') center center; 
  background-size: cover; 
}

.has-bg-img-logout {
  background: url('./images/bg-logout.jpg') center center; 
  background-size: cover; 
}

.has-bg-img-signup {
  background: url('./images/bg-signup.jpg') center center; 
  background-size: cover;
}

.has-bg-img-login {
  background: url('./images/bg-login.jpg') center center; 
  background-size: cover;
}

