body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: 65%;
}

/* ParkCard parent `div` styling */
.park_card {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 10px;
 }
 
 /* ParkCard child `div` styling */
 .park_card div {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.75s linear; 
  transition: visibility 0s, opacity 0.75s linear;
 }
 
 /* ParkCard parent hover */
 .park_card:hover {
  cursor: pointer;
 }
 
 .park_card:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.85; 
 }
